@charset "UTF-8";
html {
  font-size: 100%;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #616161;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: #4e301b;
}

a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

.section-title {
  font-weight: bold;
  font-size: clamp(1.5rem, 0.8965517241rem + 1.3793103448vw, 2rem);
  margin-bottom: 90px;
  text-align: center;
}

iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.loading {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
}
.loading__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}
.loading__inner-img img {
  width: 150px;
  height: 150px;
}

.progressbar {
  width: 200px; /* バーの長さ */
  height: 4px; /* バーの太さ */
  background: #eee; /* バーの下地の色 */
  margin: 15px auto 0;
  border-radius: 5px;
}

.progressbar__fill {
  width: 0%;
  height: 100%;
  background: #4e301b;
  -webkit-transition: width 0.4s ease-in;
  transition: width 0.4s ease-in;
}

.fv {
  background-image: url(../img/4569825_m.jpg);
  background-size: cover;
  background-position: center;
  height: 854px;
  position: relative;
}
.fv__box {
  position: absolute;
  top: 312px;
  right: 146px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #35a1c3;
}
.fv__box-text {
  font-weight: bold;
  letter-spacing: 0.5em;
  font-size: clamp(1.5rem, 0.6666666667rem + 1.6666666667vw, 2rem);
  background-color: #fff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin-left: 21px;
  line-height: 1;
  padding: 0 15px;
}
.fv__box-text:last-child {
  margin-left: 0;
  height: auto;
}
.fv__ham-menu {
  visibility: hidden;
  text-align: center;
  padding: 60px 20px;
  background-color: #fff;
  opacity: 0;
  height: 100vh;
  width: 100%;
  z-index: 20;
  position: fixed;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.fv__ham-menu.active {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.fv__ham__list {
  overflow: auto;
}
.fv__ham-logo1 img {
  width: 100px;
  height: 100px;
}
.fv__ham-logo2 {
  margin-bottom: 36px;
}
.fv__ham-list li {
  margin-bottom: 16px;
  font-weight: bold;
}

.header__inner {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}
.header__nav--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo1 {
  background-color: #fafafa;
  border-radius: 50%;
  width: 154px;
  height: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: -72px;
  position: relative;
  z-index: 10;
}
.header__logo1 img {
  max-width: 154px;
  height: 154px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -30px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(0.625rem, -2.3958333333rem + 6.0416666667vw, 2.4375rem);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
}
.header__list .list4 {
  margin-left: clamp(1.5rem, -0.0625rem + 3.125vw, 2.4375rem);
}

.about {
  padding: 43px 43px 126px;
  position: relative;
}
.about__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.about__top-title {
  padding: 10px;
  font-weight: bold;
  font-size: clamp(0.9375rem, 0.2900552486rem + 2.7624309392vw, 2.5rem);
  color: #35a1c3;
  opacity: 0.9;
  background-color: #fff;
  position: absolute;
  left: clamp(0.625rem, -16.875rem + 35vw, 11.125rem);
  top: 96px;
}
.about__top-img img {
  border-radius: 20px;
}
.about__bottom-img img {
  border-radius: 20px;
  width: 500px;
}
.about__bottom {
  margin-top: 88px;
}
.about__bottom-text {
  font-size: clamp(0.875rem, 0.8232044199rem + 0.2209944751vw, 1rem);
  font-weight: bold;
  background-color: #fff;
  border-radius: 20px;
  opacity: 0.9;
  line-height: 2.5;
  color: #857868;
  max-width: 526px;
  padding: 15px;
  position: absolute;
  left: clamp(0.625rem, -16.875rem + 35vw, 11.125rem);
  top: 200px;
}
.about__bottom-img {
  margin-left: clamp(0.625rem, -16.875rem + 35vw, 11.125rem);
}

.product {
  padding-bottom: 74px;
}
.product .swiper-slide {
  width: 264px;
  height: 331px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  margin-bottom: 20px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  opacity: 0.6;
}
.product .swiper-slide.swiper-slide-active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.product .swiper-slide figure img {
  width: 100%;
  height: 166px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product .swiper-slide__textbox {
  padding: 16px;
  height: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product .swiper-slide__textbox-title {
  font-weight: bold;
  line-height: 1.5;
  font-size: 16px;
}

.information {
  background-color: #fff;
  padding: 91px 0;
}
.information__inner {
  max-width: 974px;
  padding: 0 20px;
  margin: auto;
}
.information__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0;
  border-top: 1px solid #c6c6c6;
}
.information .information__list:last-child {
  border-bottom: 1px solid #c6c6c6;
}
.information__date {
  font-size: 13px;
  margin-right: 120px;
}
.information__grape {
  position: absolute;
  right: 0;
}

.faq {
  padding: 90px 0;
}
.faq .section-title {
  margin-bottom: 73px;
}
.faq__inner {
  max-width: 780px;
  padding: 0 20px;
  margin: auto;
}
.faq__question {
  background-color: #fff;
  cursor: pointer;
  padding: 12px 14px;
  font-weight: bold;
  position: relative;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.faq__arrow {
  margin-left: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.faq__arrow.active {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.faq__icon {
  font-family: "Roboto";
  font-size: clamp(1.25rem, 1.1464088398rem + 0.4419889503vw, 1.5rem);
  margin-right: 8px;
}
.faq__question--text {
  font-size: clamp(0.875rem, 0.7714088398rem + 0.4419889503vw, 1.125rem);
}
.faq__answer {
  line-height: 1.5;
  margin-top: 24px;
}
.faq__breakfast {
  position: absolute;
}

.access {
  padding: 90px 0 78px;
  background-color: #fff;
}
.access__inner {
  max-width: 974px;
  padding: 0 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.access__info {
  font-weight: bold;
  font-size: clamp(0.875rem, 0.7714088398rem + 0.4419889503vw, 1.125rem);
  margin-right: 32px;
  width: 100%;
  max-width: 459px;
}
.access__info--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #c9c9c9;
}
.access__info .access__info--item:first-child {
  border-top: 1px solid #c9c9c9;
}
.access__map {
  width: 443px;
  height: 334px;
}
.access__brussels-middle {
  position: absolute;
  right: 0;
}

.contact {
  padding: 104px 0 30px;
}
.contact .section-title {
  margin-bottom: 67px;
}
.contact .bold {
  font-weight: bold;
}
.contact__form-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 44px;
}
.contact .required {
  background-color: #fed966;
  border-radius: 10px;
  padding: 5px 11px;
  margin-left: 18px;
  font-weight: bold;
  font-size: 14px;
}
.contact__inner {
  max-width: 780px;
  padding: 0 20px;
  margin: auto;
}
.contact .contact__heading-bottom {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 93px;
}
.contact__form {
  background-color: #fff;
  border-radius: 20px;
  padding: 37px 76px 43px;
}
.contact__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}
.contact__menu .contact__menu-item:nth-last-child(2) {
  margin-bottom: 50px;
}
.contact__menu-item--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 334px;
}
.contact .radio-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.contact .radio-label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 23px;
}
.contact .radio-label-span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #4e301b;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.contact .radio-input:checked + .radio-label-span::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #4e301b;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}
.contact .radio-input:checked + .radio-label-span::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
.contact .input-form {
  width: 100%;
  height: 40px;
  background-color: #efeae6;
  border-radius: 5px;
  padding: 5px;
}
.contact .short {
  width: 47%;
}
.contact .textarea-form {
  height: 170px;
  background-color: #efeae6;
  border-radius: 5px;
  padding: 5px;
  resize: none;
}
.contact__submit {
  text-align: center;
}
.contact__submit--message {
  display: none;
  text-align: center;
}
.contact__submit .required {
  padding: 13px 93px;
  font-size: 14px;
  margin-left: 0;
}

footer {
  background-color: #fff;
  padding: 24px 0 97px;
  position: relative;
}

.footer__inner {
  max-width: 600px;
  padding: 0 21px;
  margin: auto;
  text-align: center;
}
.footer__logo1 {
  max-width: 154px;
  height: 154px;
  margin: 0 auto;
}
.footer__logo2 {
  margin-top: -40px;
  margin-bottom: 33px;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: bold;
}
.footer__right-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.footer__left-img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.copyright {
  background-color: #d9d9d9;
  padding: 22px;
  text-align: center;
  font-size: 12px;
}

@media (max-width: 950px) {
  .middle {
    width: 20vw;
  }
  .header__list {
    display: none;
  }
  .fv__ham {
    width: 48px;
    height: 48px;
    background-color: #fed966;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 30;
  }
  .fv__ham span {
    width: 18px;
    height: 2px;
    background-color: #4e301b;
    position: absolute;
    left: 15px;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .fv__ham span:nth-of-type(1) {
    top: 20px;
  }
  .fv__ham span:nth-of-type(2) {
    top: 25px;
  }
  .fv__ham span:nth-of-type(3) {
    top: 30px;
  }
  .fv__ham.active span:nth-of-type(1) {
    top: 25px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .fv__ham.active span:nth-of-type(2) {
    top: 25px;
    opacity: 0;
  }
  .fv__ham.active span:nth-of-type(3) {
    top: 25px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@media (max-width: 787px) {
  .section-title {
    margin-bottom: 40px;
  }
  .fv {
    height: 667px;
  }
  .fv__box {
    top: 423px;
    left: 33px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    right: auto;
  }
  .fv__box-text {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    padding: 7px;
    letter-spacing: 0;
    margin-left: 0;
    font-size: 24px;
    width: auto;
    margin-bottom: 6px;
  }
  .fv {
    /*&__box-text:last-child {
      height: auto;
      width: 86px;
      margin-bottom: 0;
    }*/
  }
  .about {
    padding: 40px 20px;
  }
  .about__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__top-title {
    position: static;
    background-color: #fff;
    margin-bottom: 20px;
  }
  .about__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .about__bottom-text {
    position: static;
    max-width: 100%;
    margin-bottom: 20px;
    opacity: 1;
  }
  .about__bottom-img img {
    width: 100%;
  }
  .about__top-img img {
    width: 100%;
  }
  .product {
    padding: 40px 0 40px;
  }
  .product .swiper-slide {
    margin-bottom: 40px;
  }
  .product .swiper-slide figure img {
    -o-object-position: top;
       object-position: top;
  }
  .information {
    padding: 40px 0;
  }
  .information__list--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 10px 0;
  }
  .information__date {
    margin-bottom: 5px;
  }
  .faq {
    padding: 40px 0;
  }
  .faq .section-title {
    margin-bottom: 40px;
  }
  .faq__answer {
    margin-top: 18px;
  }
  .access {
    padding: 40px 0;
  }
  .access__inner {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .access__info {
    margin-right: 0;
    margin-bottom: 40px;
    max-width: 100%;
  }
  .access__map {
    width: 100%;
    height: auto;
  }
  .contact {
    padding: 40px 0;
  }
  .contact .section-title {
    margin-bottom: 40px;
  }
  .contact__form-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 44px;
  }
  .contact .required {
    background-color: #fed966;
    border-radius: 10px;
    padding: 5px 11px;
    margin-left: 18px;
    font-weight: bold;
    font-size: 14px;
  }
  .contact .contact__heading-bottom {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .contact__form {
    padding: 20px;
  }
  .contact__menu-item {
    margin-bottom: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__menu-item--title {
    margin-bottom: 15px;
  }
  .contact__menu .contact__menu-item:nth-last-child(2) {
    margin-bottom: 50px;
  }
  .contact__menu-item--list {
    gap: 10px;
    width: 100%;
  }
  .contact .input-form {
    height: 40px;
    background-color: #efeae6;
    border-radius: 5px;
    padding: 5px;
  }
  .contact .short {
    width: 47%;
  }
  .contact .textarea-form {
    height: 170px;
    background-color: #efeae6;
    border-radius: 5px;
    padding: 5px;
  }
  .contact__submit {
    text-align: center;
  }
  .contact__submit .required {
    padding: 13px 93px;
    font-size: 14px;
    margin-left: 0;
  }
  footer {
    padding: 20px 0;
  }
  .footer__logo2 {
    margin-bottom: 10px;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}